<script setup>
    import { ref } from 'vue';
    import { onClickOutside } from '@vueuse/core'

    const showMobileNav = ref(false);

    // ref Element
    const navbarMenuRef = ref(null);
    const navbarBurgerRef = ref(null);

    onClickOutside(navbarMenuRef, (event) => {
        showMobileNav.value=false
    }, {
        ignore: [navbarBurgerRef]
    });
</script>
<template>
    <nav class="navbar is-success" role="navigation" aria-label="main navigation">
        <div class="container is-max-desktop">
            <div class="navbar-brand">
                <RouterLink class="navbar-item is-size-4" to="/">
                    NoteBalls
                </RouterLink>

                <a 
                    role="button" 
                    class="navbar-burger" 
                    :class="{ 'is-active' : showMobileNav }" 
                    aria-label="menu" aria-expanded="false" 
                    data-target="navbarBasicExample" 
                    @click.prevent="showMobileNav = !showMobileNav"
                    ref="navbarBurgerRef"
                >
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" 
                class="navbar-menu" 
                :class="{ 'is-active' : showMobileNav }"
                ref="navbarMenuRef"
            >
                <div class="navbar-end">
                    <RouterLink 
                        @click="showMobileNav=false"
                        to="/" 
                        class="navbar-item" 
                        active-class="is-active"
                    >Home
                    </RouterLink>

                    <RouterLink 
                        @click="showMobileNav=false"
                        to="/stats" 
                        class="navbar-item" 
                        active-class="is-active"
                    >Stats
                    </RouterLink>
                </div>
            </div>
        </div>
    </nav>
</template>

<style>
@media (max-width: 1023px) {
    .navbar-menu {
        position: absolute;
        left: 0;
        width: 100%;
    }
}
</style>