<script setup>
    //IMPORT
    import { ref } from 'vue';
    import { useRoute, useRouter } from 'vue-router'
    import AddEditNote from '../components/Notes/AddEditNote.vue';
    import { useStoreNotes } from '../stores/storeNotes';
    
    // Store/Pinia
    const storeNotes = useStoreNotes();
    //Route
    const route = useRoute();
    const router = useRouter();
    //STATE
    const noteInput = ref("");
    noteInput.value = storeNotes.getNoteContent(route.params.id);
    
    //FUNCTION
    const handleUpdateNote = () => {
        const payload = {
            id: route.params.id,
            content: noteInput.value
        }
        storeNotes.updateNote(payload);
        router.push('/');
    }
</script>

<template>
    <div class="notes">
        <AddEditNote 
            v-model:noteInput="noteInput"
            bgColor="link"
            label="Edit Note"
            placeholder="Edit Note..."
            ref="elAddEditNote">
            <template #buttons>
                <button 
                    @click="$router.push('/')"
                    class="button is-link is-light mr-3">
                    Cancel
                </button>
                <button 
                    @click.prevent="handleUpdateNote"
                    :disabled="!noteInput" @click="submitNote" 
                    class="button is-link has-background-link">
                    Update Note
                </button>
            </template>
        </AddEditNote>
    </div>

</template>