<script setup>
    import { ref, watch } from 'vue';
    import Note from '../components/Notes/Note.vue';
    import AddEditNote from '../components/Notes/AddEditNote.vue';
    import { useStoreNotes } from '../stores/storeNotes';
    import { useWatchCharacters } from '../use/useWatchCharacters';

    const storeNotes = useStoreNotes();

    const noteInput = ref("");
    const elAddEditNote = ref(null);

    const submitNote = () => {
        storeNotes.addNote(noteInput.value);
        noteInput.value = '';
        elAddEditNote.value.focusTextArea();
    }

    //watch akan di jalankan ketika ada perubahan noteInput
    useWatchCharacters(noteInput);
    // watch(noteInput, (newValue) => {
    //     if(newValue.length === 100) {
    //         alert('Only 100 character');
    //     }
    // });
</script>

<template>
    <div class="notes">

        <AddEditNote 
            v-model:noteInput="noteInput" 
            placeholder="Add a new Note"
            ref="elAddEditNote">
            <template #buttons>
                <button 
                    :disabled="!noteInput" @click="submitNote" 
                    class="button is-link has-background-success">
                    Add new Note
                </button>
            </template>
        </AddEditNote>

        <Note v-for="note in storeNotes.notes" :note="note" :key="note.id"/>
    </div>
</template>