<script setup>
    import { ref } from 'vue';
    import { useStoreNotes } from '../stores/storeNotes';
    import { vAutofocus } from '../directives/vAutofocus';
    import { useWatchCharacters } from '../use/useWatchCharacters';
    // Store/Pinia
    const storeNotes = useStoreNotes();

    //state
    const inputLoveNoteballs = ref("");
    
    //function
    useWatchCharacters(inputLoveNoteballs, 20);
</script>

<template>
    <div class="stats">
        <table class="table is-fullwidth">
            <tr>
                <th>Stat</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Number of notes</td>
                <td>{{ storeNotes.totalNoteCount }}</td>
            </tr>
            <tr>
                <td>Number of character (of all notes)</td>
                <td>{{ storeNotes.totalCharactersCount }}</td>
            </tr>
        </table>
        
        <input type="text" class="input" placeholder="Do you love noteballs??" v-model="inputLoveNoteballs" v-autofocus />
    </div>
</template>