<script setup>
    import { ref } from 'vue';
    import { vAutofocus } from '../../directives/vAutofocus';

    const props = defineProps({
        noteInput: {
            type: String,
            required: true
        },
        bgColor: {
            type: String,
            default: 'success'
        },
        placeholder: {
            type: String,
            default: 'Type something...'
        },
        label: {
            type: String
        }
    });

    const elNewNoteRef = ref(null);
    const focusTextArea = () => {
        elNewNoteRef.value.focus()
    }

    defineExpose({
        focusTextArea
    })

    
</script>

<template>
    <div 
        class="card p-4 mb-5"
        :class="`has-background-${bgColor}-dark`">
        <label v-if="label" class="label has-text-white">{{label}}</label>
        <div class="field">
            <div class="control">
                <textarea 
                    class="textarea" 
                    :placeholder="props.placeholder"
                    :value="noteInput"
                    @input="$emit('update:noteInput', $event.target.value)"
                    ref="elNewNoteRef"
                    v-autofocus>
                </textarea>
            </div>
        </div>

        <div class="field is-grouped is-grouped-right">
            <div class="control">
                <slot name="buttons" />
            </div>
        </div>
    </div>
</template>