<script setup>
    import { ref, onMounted, onUnmounted } from 'vue';
    import { onClickOutside } from '@vueuse/core'
    //Props
    const props = defineProps({
        modalDelete: {
            type: Boolean,
            default: false
        },
        noteId: {
            type: String,
            required: true
        }
    })
    //state
    const modalRef = ref(null);

    // Emit
    const emit = defineEmits(['update:modalDelete'])

    //Function
    const closeModal = () => {
        emit('update:modalDelete', false)
    }

    const closeOnEscape = e => {
        console.log('Close it');
        if(e.key === 'Escape') closeModal()
    }

    //Vue Use
    onClickOutside(modalRef, closeModal)

    // lifeCycle
    onMounted(() => {
        document.addEventListener('keyup', closeOnEscape)
    });

    onUnmounted(() => {
        document.removeEventListener('keyup', closeOnEscape)
    });
</script>

<template>
    <div class="modal is-active p-3">
        <div class="modal-background"></div>
        <div class="modal-card" ref="modalRef">
            <header class="modal-card-head">
                <p class="modal-card-title">Delete Note?</p>
                <button class="delete" aria-label="close" @click="closeModal"></button>
            </header>
            <section class="modal-card-body">
               Are you sure want delete this Note ?
            </section>
            <footer class="modal-card-foot is-justify-content-flex-end">
                <button class="button" @click="closeModal">Cancel</button>
                <button class="button is-danger">Delete</button>
            </footer>
        </div>
    </div>
</template>