<script setup>
    import { computed, reactive } from 'vue';
    import { useStoreNotes } from '../../stores/storeNotes';
    import ModalDeleteNote from './ModalDeleteNote.vue';

    const props = defineProps({
        note: {
            type: Object,
            required: true
        }
    });
    
    const storeNotes = useStoreNotes();

    const characterLength = computed(() => {
        let descCharLength = props.note.content.length;
        let descText = descCharLength > 1 ? 'Characters' : 'Character'
        return `${descCharLength} ${descText}`;
    });

    const modalDelete = reactive({
        deleteNote: false
    });

    const deleteNoteStore = () => {
        storeNotes.deleteNote(props.note.id)
    }
</script>

<template>
    <div class="card mb-4">
        <div class="card-content">
            <div class="content">
                {{ props.note.content }}
                <div class="has-text-right has-text-grey-light mt-2">
                    <small>{{ characterLength }}</small>
                </div>
            </div>
        </div>
        <footer class="card-footer">
            <RouterLink :to="`/editNote/${props.note.id}`"  class="card-footer-item">Edit</RouterLink>
            <a href="#" class="card-footer-item" @click.prevent="modalDelete.deleteNote = true">Delete</a>
        </footer>
        <ModalDeleteNote 
            v-if="modalDelete.deleteNote" 
            v-model:modalDelete="modalDelete.deleteNote"
            :noteId="props.note.id"
        />
    </div>
</template>